:root {
    --main-background-color: #813405;
    --content-backround-color: #f8dda4;
    --book-card-background-color: #d45113;
    --book-button-hover: #ecdfc5;
    --book-button-click: #f0cc85;
    --library-text-color: #f9a03f;
}

@font-face {
    font-family: "sansation";
    src: url("./font/sansation/Sansation-Regular-webfont.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "sansation", sans-serif;
    font-weight: 700;
}

body {
    background-color: var(--main-background-color);

    height: 100vh;

    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
}

body > h1 {
    color: var(--library-text-color);
    background-color: var(--content-backround-color);

    padding: 1rem;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    cursor: pointer;
    background-color: var(--book-button-hover);
}

button:active {
    background-color: var(--book-button-click);
}

button {
    padding: 1rem 2rem;

    background-color: var(--content-backround-color);
    border: 5px solid var(--main-background-color);
    border-radius: 10px;

    font-size: 1rem;

    width: 33%;
}

.add-book {
    margin: 1rem;

    font-size: 1.3rem;

    border-color: var(--book-card-background-color);
    width: 12vw;
    height: 8vh;

    justify-self: center;
}

.library {
    background-color: var(--content-backround-color);
    margin: 1rem;

    height: auto;
    width: 80vw;
    border-radius: 50px;

    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 33%));
}

.book-card {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--book-card-background-color);
    color: var(--library-text-color);
    font-weight: 700;

    width: 95%;
    height: 25vh;
    border-radius: 50px;
    border-left: var(--main-background-color) 1rem solid;

}

.book-card h1 {
    justify-self: center;
}

.book-author {
    justify-self: center;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.book-info {
    display: flex;
    padding: 0.6rem;

    justify-content:space-around;
    align-items: center;
}

.book-buttons {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.submit-book {
    grid-row: 3 / -1;
    justify-self: center;
    align-self: flex-start;

    height: 45vh;
    width: 20vw;
    padding: 1rem;

    background-color: var(--content-backround-color);
    border: 5px solid var(--book-card-background-color);
    border-radius: 10px;
}

.submit-book form {
    align-self: center;
    justify-content: center;
}

form > *{
    font-size: 1rem;
    width: 100%;

    padding: 0.5rem;
    margin-bottom: 1rem;

    border: 5px solid var(--book-card-background-color);
    border-radius: 10px;
}

.read-book {
    width: 5vw;

    justify-self: center;
    text-align: center;
}

form > button {
    width: 8vw;

    display: flex;
    justify-self: center;
    justify-content: center;
}